.hero-full-container {
    padding: 20% 0;
}

.hero-container {
    padding: 120px 0 60px;
}

.white-text-container {
    color: #fff;
}

@media (max-width: 992px) {
    .address-container {
        margin-top: 20px;
    }
}
.background-image-container {
    text-align: center;
    background-image: url(./assets/images/wave-hero-background.svg);
}
.background-image-container,
.footer-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.footer-container {
    background-image: url(./assets/images/wave-footer.svg);
    padding: 60px 0;
    margin-top: 30px;
}
a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    font-weight: 700;
}

h1 {
    margin-bottom: 25px;
}

textarea {
    width: 100%;
}
